{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TelegramOS</title>
    <link
      type="text/css"
      href="{% static 'account/css/style.css' %}"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{% static 'account/img/favico.ico' %}"
      type="image/x-icon"
    />
  </head>
  <body>
    <header class="header"></header>
    <div class="basis">
      <div class="logo__container">
        <div class="telegram">Telegram</div>
        <img id="gif1" src="{% static 'account/img/o_light.gif' %}" alt="o" />
        <img id="gif2" src="{% static 'account/img/s_light.gif' %}" alt="s" />
      </div>
      <div class="desc">
        <p>Crypto & IT Services</p>
      </div>
      <div class="desc1">
        <p>Marketplace</p>
      </div>
      <div class="fire--container--start">
        <img
          id="fire1"
          src="{% static 'account/img/fire_light.gif' %}"
          alt="fire"
        />
        <div class="trending">
          <p>ETH Trending</p>
        </div>
        <img
          id="fire2"
          src="{% static 'account/img/fire_light.gif' %}"
          alt="fire"
        />
      </div>
      <div class="tocens_container">
        <p>1.FTB 2.ETH 3.VOLT</p>
      </div>
      <div class="services__container">
        <p>Services</p>
      </div>
      <div class="launches__container">
        <p>Next Launches</p>
      </div>
      <div class="create_container">
        <div class="create_button">
          <a id="open-popup" href="#">create</a>
        </div>
      </div>
      <div class="connect_container">
        <div class="connect_button">connect</div>
      </div>
      <div class="theme_container">
        <div class="theme">
          <a href="#" id="themeToggle">Dark</a>
        </div>
      </div>
    </div>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
      let tg = window.Telegram.WebApp;
      document.addEventListener("DOMContentLoaded", function () {
        const themeToggle = document.getElementById("themeToggle");
        const body = document.body;
        const gif1 = document.getElementById("gif1");
        const gif2 = document.getElementById("gif2");
        const fire1 = document.getElementById("fire1");
        const fire2 = document.getElementById("fire2");

        // Функция для переключения темы
        function toggleTheme() {
          const prefersDarkScheme = window.matchMedia(
            "(prefers-color-scheme: dark)"
          );
          if (prefersDarkScheme.matches) {
            body.classList.add("dark");
            body.classList.remove("light");
            themeToggle.textContent = "Light";
            gif1.src = "{% static 'account/img/o_dark.gif' %}";
            gif2.src = "{% static 'account/img/s_dark.gif' %}";
            fire1.src = "{% static 'account/img/fire_dark.gif' %}";
            fire2.src = "{% static 'account/img/fire_dark.gif' %}";
          } else {
            body.classList.add("light");
            body.classList.remove("dark");
            themeToggle.textContent = "Dark";
            gif1.src = "{% static 'account/img/o_light.gif' %}";
            gif2.src = "{% static 'account/img/s_light.gif' %}";
            fire1.src = "{% static 'account/img/fire_light.gif' %}";
            fire2.src = "{% static 'account/img/fire_light.gif' %}";
          }
        }

        // Инициализация темы при загрузке страницы
        toggleTheme();

        themeToggle.addEventListener("click", function () {
          body.classList.toggle("dark");
          body.classList.toggle("light");
          const currentTheme = body.classList.contains("dark")
            ? "Light"
            : "Dark";
          themeToggle.textContent = `${currentTheme}`;

          if (currentTheme === "Dark") {
            gif1.src = "{% static 'account/img/o_light.gif' %}";
            gif2.src = "{% static 'account/img/s_light.gif' %}";
          } else {
            gif1.src = "{% static 'account/img/o_dark.gif' %}";
            gif2.src = "{% static 'account/img/s_dark.gif' %}";
          }

          if (currentTheme === "Dark") {
            fire1.src = "{% static 'account/img/fire_light.gif' %}";
            fire2.src = "{% static 'account/img/fire_light.gif' %}";
          } else {
            fire1.src = "{% static 'account/img/fire_dark.gif' %}";
            fire2.src = "{% static 'account/img/fire_dark.gif' %}";
          }
        });
      });

      const create = document.getElementById("open-popup");

      create.addEventListener("click", function () {
        let userId = tg.initDataUnsafe.user.id;
        let name = tg.initDataUnsafe.user.first_name;
        let userName = tg.initDataUnsafe.user.username;

        localStorage.setItem("userId", userId);
        localStorage.setItem("name", name);
        localStorage.setItem("userName", userName);

        const csrf_token = "{{ csrf_token }}";

        fetch("/save_user/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            user_id: userId,
            name: name,
            user_name: userName,
            csrf_token: csrf_token,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            window.location.href =
              "https://d615-46-61-120-37.ngrok-free.app/main/";
          })
          .catch((error) => console.error("Error:", error));
      });
    </script>
  </body>
</html>
