@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;900&family=Montserrat:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body.light {
  color: #000000;
  background-color: #ffffff;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}

.header {
  width: 100%;
}

.basis {
  max-height: 900px;
  width: 100%;
}

.logo__container {
  margin-top: 12px;
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__container img {
  max-width: 44.1px;
  max-height: 45px;
  margin-top: 7px;
  margin-right: -4.5px;
}

.telegram {
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 3.2px;
  width: 195px;
  height: 32px;
  margin-right: -10px;
}

/* .logo {
  display: flex;
  justify-content: center;
  height: 58px;
} */

.desc {
  margin-top: 12px;
  margin-bottom: -12px;
  text-align: center;
  font-family: "Inter", sans-serif;
  letter-spacing: 3.9px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 300;
}

.desc1 {
  text-align: center;
  font-family: "Inter", sans-serif;
  letter-spacing: 3.9px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 300;
}

.fire--container--start {
  margin-top: 104px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fire--container--main {
  margin-top: 84px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fire--container--start img,
.fire--container--main img {
  max-width: 19px;
  max-height: 18px;
}

.trending {
  margin-top: 3px;
  margin-left: 8px;
  margin-right: 5px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5.7px;
  font-size: 19px;
}

.tocens_container {
  margin-top: -26px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 3.9px;
  font-size: 13px;
}

.services__container {
  margin-top: 64px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: 5.7px;
  font-size: 19px;
  text-transform: uppercase;
}

.launches__container {
  margin-top: 90px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: 5.7px;
  font-size: 19px;
  text-transform: uppercase;
}

.create_container {
  margin-top: 107px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_button {
  display: block;
  padding: 13px 40px;
  border-radius: 41px;
  user-select: none;
  background: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
}

.connect_container {
  margin-top: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect_button {
  display: block;
  padding: 13px 33px;
  border-radius: 41px;
  user-select: none;
  border: 3px solid #fff;
  background: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
}

.theme_container {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 1.4px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.dark .create_button,
.dark .connect_button {
  background-color: #fff; /* Задаем чёрный цвет фона в темной теме */
  border: none; /* Удаляем обводку */
  color: #000; /* Задаем белый цвет текста */
  text-decoration: none;
}

.dark .create_button a {
  text-decoration: none;
  color: #000;
}

.account--container {
  margin-top: 115px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light .account--button a {
  display: block;
  padding: 13px 33px;
  border-radius: 41px;
  user-select: none;
  background: #000;
  color: #fff;
  border: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  font-size: 14px;
}

.dark .account--button a {
  display: block;
  padding: 13px 33px;
  border-radius: 41px;
  user-select: none;
  background: #fff;
  color: #000;
  border: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  font-size: 14px;
}

.profile--container--log {
  margin-top: 13px;
  display: inline-flex;
  width: 100%;
  height: 58px;
  justify-content: center;
  align-items: center;
  gap: -8px;
  flex-shrink: 0;
}

.profile--container--log img {
  max-width: 44.1px;
  max-height: 45px;
  margin-top: 7px;
  margin-right: -4.5px;
}

.photo--container {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.photo {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 4px solid #f1f0f0;
  background-size: cover;
  background-position: center;
  box-shadow: 9px 11px 5px -4px rgba(0, 0, 0, 0.27) inset;
}

.grade {
  margin-top: -10px;
  margin-left: -130px;
  position: absolute;
  top: 10px;
  width: 93.75px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.25) inset;
  text-align: center;
  color: #000;
}

.grade p {
  text-align: center;
  font-family: Inter;
  font-size: 23px;
  font-weight: 900;
  letter-spacing: 2.3px;
  margin-top: 7px;
  margin-left: 5px;
  text-transform: uppercase;
}

.name {
  height: 20px;
  margin-top: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  letter-spacing: 6px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.deals {
  height: 20px;
  margin-top: 17px;
  text-align: center;
  font-family: "Inter", sans-serif;
  letter-spacing: 3.9px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
}

.name p {
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: auto;
  cursor: pointer;
}

.user--name--container {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 24px;
  margin-bottom: 10px;
}

.mail {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.25) inset;
  margin-right: 12px;
}

.wallet {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.25) inset;
  margin-right: 12px;
}

.like {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.25) inset;
}

.user--name {
  text-align: center;
  width: 124px;
  height: 39px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.25) inset;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.25);
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3.9px;
  padding-right: 4px;
  padding-left: 4px;
  margin-right: 12px;
}

.user--name p {
  line-height: normal;
  text-overflow: clip;
  white-space: nowrap;
  overflow: auto;
  cursor: pointer;
}

.user--name p:hover {
  white-space: normal;
  overflow: auto;
  max-width: 100%;
}

.desc--profile--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  overflow-y: auto;
}

.scrollable-content {
  max-width: 100%;
  width: 300px; /* Задаем фиксированную ширину */
}

.desc--profile {
  text-align: justify;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}

.desc--profile p {
  word-wrap: break-word;
  line-height: 1.2;
  margin: 0;
}

.experience--container {
  justify-content: left;
  display: flex;
  margin-left: 24px;
  margin-top: -3px;
  margin-bottom: -60px;
  max-width: 100%;
  height: 109px;
}

.num--reviews--container {
  margin-top: 29px;
  margin-left: 24px;
  justify-content: left;
  display: flex;
  max-width: 100%;
}

.num--reviews {
  text-align: center;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.experience {
  text-align: center;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.dark .user--name,
.dark .all--revievs,
.dark .request--payment,
.dark .grade,
.dark .reviews--field,
.dark .reviews--field p {
  background: rgba(11, 30, 49, 0.96);
  border-radius: 20px;
  color: #ffffff;
  box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.25) inset;
}

.day {
  background: #eee;
  color: black;
}
.night {
  background: black;
  color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }
}

.light .create_button a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 2;
  transform: translateY(16%) scale(0);
  transition: 0.4s ease-in-out;
}

.popup.active {
  transform: translateY(0%) scale(100%);
}

.popup-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.popup-body {
  margin: auto;
  width: 300px;
  height: 190px;
  background: rgba(217, 217, 217, 1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  text-align: center;
  color: #000;
  padding: 100px, 15px, 110px, 15px;
  font-family: Inter;
  text-transform: uppercase;
  border-radius: 20px;
}

.popup-body h3 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4.8px;
}

.popup-body p {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 3px;
  margin-bottom: 23px;
}

.popup-body input {
  border-radius: 15px;
  box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.25);
  width: 228px;
  height: 32px;
  border: 0;
}

.popup-body button {
  margin-top: 16px;
  width: 120px;
  height: 32px;
  border-radius: 20px;
  box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.25);
  border: 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 4.2px;
  text-transform: uppercase;
}

.popup-body a {
  color: #000;
}

.popup-close {
  position: absolute;
  top: 12.5px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.button--container {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 26px;
}

.all--revievs {
  text-align: center;
  width: 124px;
  height: 32px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.25) inset;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.25);
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 3.9px;
  padding-right: 4px;
  padding-left: 4px;
  margin-right: 13px;
  text-transform: uppercase;
}

.request--payment {
  text-align: center;
  width: 173px;
  height: 32px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.25) inset;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.25);
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 3.9px;
  padding-right: 4px;
  padding-left: 4px;
  text-transform: uppercase;
}

.edit--container button {
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 3.9px;
  text-transform: uppercase;
}

.reviews--container {
  margin-top: 30px;
  height: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews--field {
  margin-right: 4px;
  width: 300px;
  height: 120px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 5px 7px -2px rgba(0, 0, 0, 0.25) inset;
}

.reviews--field img {
  height: 70px;
  width: 70px;
  border-radius: 82px;
  border: 4px solid #fff;
  box-shadow: 9px 11px 5px -4px rgba(0, 0, 0, 0.27) inset;
  margin-left: 15px;
  margin-top: 25px;
}

.name--reviews {
  color: #0d0d0d;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 13px */
  letter-spacing: 3.9px;
  text-transform: uppercase;
  margin-left: 95px;
  margin-top: -80px;
}

.reviews {
  color: #000;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 155%; /* 12.4px */
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
